<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="jumbotron">
    <div class="container">
      <img src="https://i.postimg.cc/rmnfctZc/Logo-Bulat-UNBIN.jpg" alt="profil" class="rounded-circle img-thumbnail" />
      <div class="info">
      <div class="mapouter">
      </div>
        <h2 class="display-4" style="color: rgb(0, 0, 0)">Alya Fairuzi Arif</h2>
        <p class="lead" style="color: rgb(1, 10, 18)">Sistem Informasi (A) Semester 5</p>
      </div>
      <img src="https://cf.shopee.co.id/file/279f69f2b9a9171028258de1f34c6e4d" alt="logo" width="100" class="rounded-circle img-thumbnail">
    </div>

  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col class="isi">
        <h1>3.4</h1>
        <p>IP Kumulatif</p>
      </ion-col>
      <ion-col class="isi">
        <h1>21</h1>
        <p>SKS Tempuh</p>
      </ion-col>
    </ion-row>
  </ion-grid>

<ion-grid>
  <ion-row>
    <ion-col class="isi2">
      <button id="1" class="btn"><img src="../../assets/icon/1.png"></button>
      <p>Jadwal</p>
    </ion-col>
    <ion-col class="isi2">
      <button id="1" class="btn"><img src="../../assets/icon/2.png"></button>
      <p>Presensi</p>
    </ion-col>
    <ion-col class="isi2">
      <button id="1" class="btn"><img src="../../assets/icon/3.png"></button>
      <p>Nilai</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="isi2">
      <button id="1" class="btn"><img src="../../assets/icon/4.png"></button>
      <p>Bahan & Tugas</p>
    </ion-col>
    <ion-col class="isi2">
      <button id="1" class="btn"><img src="../../assets/icon/5.png"></button>
      <p>KRSS/KRS</p>
    </ion-col>
    <ion-col class="isi2">
      <button id="1" class="btn"><img src="../../assets/icon/6.png"></button>
      <p>TA/Wisuda</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="isi2">
      <button id="1" class="btn"><img src="../../assets/icon/7.png"></button>
      <p>Kegiatan</p>
    </ion-col>
    <ion-col class="isi2">
      <button id="1" class="btn"><img src="../../assets/icon/8.png"></button>
      <p>Biaya Kuliah</p>
    </ion-col>
    <ion-col class="isi2">
      <button id="1" class="btn"><img src="../../assets/icon/9.png"></button>
      <p>Kuesioner</p>
    </ion-col>
  </ion-row>
</ion-grid>
  </section>
</ion-content>
